.env
.env.*
*log
*.sql
*.sqlite
*.local.*
!*.example

.htaccess
.htpasswd

wordpress/
/vendor/
node_modules/
build/

/wp-content/languages/*
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/uploads
/wp-content/cache

/wp-salts/*
!*-sample.*

/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php

!/wp-content/mu-plugins/my-custom-functions
!/wp-content/mu-plugins/load.php
!/wp-content/themes/custom-theme

!/wp-content/**/index.php
